:root {
    --widget-card-background-color: #ffffff;
    --widget-card-background-color-light: #ffffff;
    --widget-card-background-color-dark: #110637;
    
    --widget-card-foreground-color: #333333;
    --widget-card-foreground-color-light: #333333;
    --widget-card-foreground-color-dark: #ffffff;
  
    --navbar-background-color: #ffffff;
    --navbar-background-color-light: #ffffff;
    --navbar-background-color-dark: #515186;
  
    --navbar-foreground-color: #333333;
    --navbar-foreground-color-light: #333333;
    --navbar-foreground-color-dark: #ffffff;
  
  
    --wrapper-background-color:#c8cfdc;
    --wrapper-background-color-light: #ffffff;
    --wrapper-background-color-dark: #050016;
    --wrapper-foreground-color-light: #333333;
    --wrapper-foreground-color-dark: #fffffff;
  
    --wrapper-background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --wrapper-background-image-dark: linear-gradient(135deg, #9c0ac0 0%, #2e0538 100%);
    --wrapper-background-image-light: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
   
  }
  
  
  body, .form-control {
    font-family: "Mazzard", sans-serif;
    font-weight: 400;
    color: #212427;
    font-size: 13px;
  }
  
  
  
  .wrapper{
    display: flex; 
    align-items: stretch;
    padding: 20px;
    background:var(--wrapper-background-color);
    background-image: var(--wrapper-background-image);
    transition: 0.5s;
  
   
  }
  
  .sidebar{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  
  .sidebar .nav-link{
    padding:0px;
    padding: 0px;
      padding-bottom: 10px;
      padding-top: 10px;
      line-height: 30px;
     
  }
  
  
  @font-face {
    font-family: "Mazzard", sans-serif;
    src:('../assets/fonts/MazzardH-Regular.otf') format('.otf');
    src:('../assets/fonts/MazzardH-Light.otf') format('.otf');
    src:('../assets/fonts/MazzardH-Medium.otf') format('.otf');  
  }
  
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .App {
    text-align: center;
  }
  
  
  .card{
    background: #fff;
    border:0px;
  }
  
  
  
  .logo {
    width: 100px;
    margin-right: 30px;
  }
  
  .navbar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      border-top-right-radius: 30px;
      background-color: var(--navbar-background-color);
      color:var(--navbar-foreground-color);
      transition: 0.5s;
  
  }
  
  .widget-card {
    padding: 20px;
    background:var(--widget-card-background-color);
    color:var(--widget-card-foreground-color);
    min-width: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      transition: 0.5s;
  
  }
  
  
  .ant-table, .ant-table-cell{
    background:var(--widget-card-background-color) !important;
    color:var(--widget-card-foreground-color) !important;
  }
  
  .ant-table-cell::before{
    width:0px !important;
  }
  
  .ant-table-cell-row-hover{
    background:var(--widget-card-background-color) !important;
    color:var(--widget-card-foreground-color) !important;
  
  }
  
  
  
  nav {
    width: 100%;
  }
  
  
  .nav-link:focus, .nav-link:hover{
    color:var(--navbar-foreground-color);
  }
  
  .navbar-expand-lg .navbar-collapse {
    justify-content: start;
  }
  
  .navbar-brand {
    padding-top: 0px;
  }
  
  .bg-violet {
    background: linear-gradient(
      180deg,
      #580b87 0%,
      #515186 100%,
      rgba(217, 217, 217, 0) 100%
    );
    color: #fff;
    width: 200px;
  }
  
  
  
  
  .modal-header.bg-violet {
    background: linear-gradient(
      180deg,
      #580b87 0%,
      #515186 100%,
      rgba(217, 217, 217, 0) 100%
    );
    color: #fff;
    width: auto;
  }
  
  .table tr td{
    vertical-align: middle;
  }
  
  .link-dark {
    color: #ffffff;
  }
  
  .link-dark:focus,
  .link-dark:hover {
    opacity: 1;
    color: #f0f2f8;
    background: rgba(120, 120, 187, 0.7);
    border-radius: 10px;
    transition: 0.5s;
  }
  
  
  .nav-tabs .nav-link{
    color: #212427;
  }
  
  .nav-tabs .nav-link:hover{
    color: #000000;
  }
  
  
  
  .navbar ul li a{
   color:var(--navbar-foreground-color);
   background-color: var(--navbar-background-color);
   transition: 0.5s;
  }
  
  
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: #7878bd;
    color: #ffffff;
    border-radius: 10px;
  }
  
  .menu {
    height: 200px;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-size: 12px;
  }
  
  .menu .menu-item {
    background: #ffffff;
    padding: 10px;
  }
  
  .dropdown-item {
    font-size: 12px;
  }
  
  /* login page css */
  
  .loginBackground {
    background-color: #00DBDE;
    background-image: linear-gradient(225deg, #00DBDE 0%, #FC00FF 100%);
    align-items: start;
    justify-content: center;
    
  }
  
  
  
  .loginSection {
    width: "40%";
  }
  
  .loginSection div p {
    color: #580b87;
  }
  
  .loginSection div h4 {
    color: #580b87;
  }
  
  .introSection {
    width: 50%;
    padding-right: 100px;
  }
  
  .introSection .p {
    font-size: 14px;
  }
  
  .right-container {
    width: 100%;
    min-height: 100vh;
    background:var(--wrapper-background-color);
    color:var(--wrapper-foreground-color);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    
  }
  
  .open {
    width: 200px;
    transition: 0.5s;
  }
  
  .close {
    width: 65px;
    transition: 0.5s;
  }
  .loginForm {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 1);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    flex-direction: column;
  }
  
  .search-row-bottom > div {
    flex: 1;
  }
  
  .search-row-bottom > div + div {
    margin-left: 15px;
  }
  
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
  }
  
  .pagination li {
    margin: 0 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    color: #555;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 12px;
  }
  
  .pagination li:hover {
    background-color: #f2f2f2;
    color: #555;
  }
  
  .pagination .active {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination .disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  
  table.table.table-striped.table-hover th{
   white-space: nowrap;
   color: var(--widget-card-foreground-color);
   background-color: var(--widget-card-background-color);
  }
  
  table.table.table-striped.table-hover td{
    color: var(--widget-card-foreground-color);
   background-color: var(--widget-card-background-color);
  }
  
  
  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    background-color: var(--widget-card-background-color);
    border-radius: 50px;
    color:var(--widget-card-foreground-color);
  }
  
  .fa-user-minus  {
     cursor: pointer;
  }
  
  .even {
    background-color: #f2f2f2;
  }
  
  .odd {
    background-color: #ffffff; 
  }
  
  
  
  
  
  
  /*Responsive starts from here*/
  @media (max-width: 575.98px) {
    .loginBackground {
      padding: 20px;
      flex-direction: column;  
      justify-content: flex-start;
    }
  
    .introSection {
      width: 100%;
      padding-right: 0px;
      margin-bottom: 30px;
    }
    .loginForm {
      width: fit-content;
    }
    .search-row, .search-row-bottom{
      flex-direction: column;
    }
  
    .widget-card{
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 1024px) {
  
    .loginBackground {
      padding: 20px;
      flex-direction: column;
      height: 100vh;
      justify-content: flex-start;
    }
  
    .introSection {
      width: 100%;
      padding-right: 0px;
      margin-bottom: 30px;
    }
    .loginForm {
      width: 100%;
    }
    .search-row, .search-row-bottom{
      flex-direction: column;
    }
  
    .widget-card{
      margin-bottom: 20px;
    }
    .loginSection {
      width: 100%;
    }
  }
  
  
  
  